[Desktop Entry]
Encoding=UTF-8
Name=EPIC
Comment=(E)nhanced (P)rogrammable (I)RC-II (C)lient
Comment[pl]=Rozsz(E)rzony (P)rogramowalny kl(I)ent IR(C)-II
Exec=epic
Terminal=true
Type=Application
# vi: encoding=utf-8
